<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaustubh.count_solver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COUNT_SOLVER">
        <activity
            android:name=".inclusionres"
            android:exported="false" />
        <activity
            android:name=".inclusion2"
            android:exported="false" />
        <activity
            android:name=".pcresult"
            android:exported="false" />
        <activity
            android:name=".result_product"
            android:exported="false" />
        <activity
            android:name=".result_sum"
            android:exported="false" />
        <activity
            android:name=".combination"
            android:exported="false" />
        <activity
            android:name=".permutation"
            android:exported="false" />
        <activity
            android:name=".peigeon_hole"
            android:exported="false" />
        <activity
            android:name=".inclusion_exclusion"
            android:exported="false" />
        <activity
            android:name=".product_rule"
            android:exported="false" />
        <activity
            android:name=".sum_rule"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>